@import url('https://fonts.googleapis.com/css?family=Play');

body{
    font-family: 'Play', cursive;
    font-size:150%;
}

h2{
  font-size: 180%;
  font-weight: bolder;
}
.shiny-input-container{
	padding-top: 5% !important;
}

.plot-container{
  padding-top: 2% !important;
}
.control-label > h4{
  font-weight: bolder;
  font-size:110%;
}

.checkbox
{
  font-size: 82%;
  
}

.irs > *
{
  color:#00695f !important;
  border-color: #00695f;
}
.irs-single
{
  background: white;
}
.irs-line > *
{
  color:#00695f !important;
}
.irs-bar
{
    background:#00695f !important;
}
.irs-bar-edge
{
    background:#00695f !important;
}
a{
  color:#00695f !important;
}
a:hover{
  color:#00695f !important;
}

#Uncheck_1{
  margin-bottom: 2% !important;
}
#Uncheck_2{
  margin-bottom: 2% !important;
}